* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.centrado {
    margin: 0 auto;
    width: 350px;
    background-color: aqua;
}

.display {
    padding: 7px 7px;;
    width: 300px;
    color: white;
    background-color: #0050FE;
    border: black 1px solid;
    overflow: hidden;
    border-radius: 10px
}


.lSuperior h2, .lSuperior p{
    font-size: 12px;
}

.lSuperior h2 {
	float: left;
}

.lSuperior p{ 
    float: right;
}

.medidas h2 {
    display: inline-block;
    width: 49%;
    text-align: center;
}

.programacion {
	font-size: 12px;
}

.programacion .izq {
    float: left;
    width: 50%;
}

.programacion .der{
	float: right;
}